.start-screen {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #FFADC9 0%, #A8D1E3 99.48%),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.start-screen__subcolumn {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: auto;
}

.start-screen__subcolumn *:not(:last-child) {
    margin-bottom: 20px;
}

.title__container {
    width: 100%;
    text-align: center;
    padding-top: 0;
    margin-bottom: 50px;
}

.title__text {
    color: black;
    -webkit-text-stroke: 2px white;
    font-size: 64px;
    font-family: Exo, sans-serif;
}