.playground {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #FFA883 0%, #FFF2C6 100%);
}

.playground > .container {
    height: 100%;
}

.playground__inner {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 1fr 60px;
    /* grid-template-columns: 1fr 100px; */
    grid-gap: 0;
}

.middle {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 110px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left {
    position: relative;
    padding-bottom: 10px;
    overflow-y: auto;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.top__title {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 166%;
    margin-left: 30px;
    letter-spacing: 0.04em;
}

.left__wrapper {
    position: absolute;
    width: 100%;
}

/* .messages__inner::-webkit-scrollbar {
    display: none;
} */
.message {
    background-color: white;
    font-family: Cuprum, sans-serif;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    margin-top: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
}
.message.self {
    border-radius: 50px;
    border-bottom-right-radius: 0;
}

/* Hot buttons */
.buttons {
    grid-area: buttons;
    /*border: 1px solid gray;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;

}

.hot-button {
    height: 73px;
    border: 2px solid #552929;
    width: 76px;
    margin-top: 10px;
    border-radius: 8px;
    font-family: Cuprum, sans-serif;
    font-size: 24px;
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.62);
    box-shadow: -6px -8px 8px rgba(0, 0, 0, .2) inset;
}

.hot-button:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(.9);
}

.hot-button.FIRE {
    background-color: #EA5E5D;
}

.hot-button.HOT {
    background-color: #FFAF82;
}

.hot-button.WARM {
    background-color: #DFC0E0;
}

.hot-button.COLD {
    background-color: #9CD0F7;
}

.hot-button.ICE {
    background-color: #4B6CBD;
}

.send {
    /*border: 1px solid gray;*/
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.send__message {
    border-radius: 50px;
    border: 2px solid #A79FBA;
    font-size: 24px;
    width: 80%;
    padding: 0 20px;
}

.send__button {
    background-color: #CD5E8D;
    background-image: url("../../fonts/Send msg plane.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #893D6A;
}

.send__button:active {
    transform: scale(.9);
}

.arrow {
    width: 0px;
    height: 0px;
    margin: 0 auto;
    position: relative;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #8F3333;
    position: absolute;
    top: 24.5px;
    left: -26px;
}


.arrow:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #FF5050;
    bottom: -15px;
    right: 6px;
}




