@font-face {
    font-family: "Cuprum";
    src: url("./fonts/Cuprum-Bold.ttf");
}

@font-face {
    font-family: "Exo";
    src: url("./fonts/Exo-Medium.ttf");
}

@font-face {
    font-family: "Cuprum";
    src: url("./fonts/Cuprum-Regular.ttf");
}